<br>
<br>
<div class="mat-headline-3  flex-row">All certificates</div>
<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8 height-50"
  matSort>
  <ng-container matColumnDef="serialNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Serial Number</th>
    <td mat-cell *matCellDef="let element">{{ element.serialNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="certificateType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Certificate Type</th>
    <td mat-cell *matCellDef="let element">
      {{ element.certificateType }}
    </td>
  </ng-container>

  <ng-container matColumnDef="owner.fullName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
    <td mat-cell *matCellDef="let element">{{ element.owner.fullName}}</td>
  </ng-container>

  <ng-container matColumnDef="organizationData">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Organization</th>
    <td class="width-20" mat-cell
        *matCellDef="let element">{{ element.organizationData.name + ', ' + element.organizationData.unit + ', ' + element.organizationData.countryCode }}</td>
  </ng-container>

  <ng-container matColumnDef="validFrom">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date issued</th>
    <td mat-cell *matCellDef="let element">{{ element.validFrom | date:'yyyy-MM-dd' }}</td>
  </ng-container>

  <ng-container matColumnDef="validUntil">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Valid until</th>
    <td mat-cell *matCellDef="let element">{{ element.validUntil | date:'yyyy-MM-dd' }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row (click)="refreshUI(element, index)" *matRowDef="let element; columns: displayedColumns; let index=index"
      [class.purple]="index == cindex"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
<br>
<div class="flex-column">
  <div class="flex-row">
    <button mat-raised-button style="margin-right: 2em;"
            color="primary"
            class="width-exact"
            [disabled]="!enableStatusChange"
            (click)="validate()">Validate
    </button>
    <button mat-raised-button color="primary"
            style="margin-right: 2em;"
            class="width-exact"
            [disabled]="!enableStatusChange"
            (click)="download()">Download
    </button>
  </div>
  <ngx-file-drop dropZoneLabel="Drag and drop your local certificate file(s) here to validate."
                 class="padding"
                 (onFileDrop)="onFileDropped($event)">
  </ngx-file-drop>
</div>
